# Email cleaning script
This notebook identifies non-existent emails based on the 'failure_message' column in the 'deliveries.csv' dataset
Script created on Monday April 14th, 2025 by Andrea Ross Orozco
Kezko Data & Analytics

In [8]:
# Library imports
import pandas as pd # Data manipulation

In [9]:
# Update paths
input_file = 'deliveries.csv'  # Update path as needed
output_file = 'non_existent_emails.csv' # Update path as needed

Loads the dataset from a CSV file using the specified delimiter. Returns a pandas DataFrame with the contents of the file.

**Parameters:**

*   file_path: Path to the CSV file.
*   delimiter: Character used to separate values in the file.


**Returns**: A DataFrame containing the raw data.

In [10]:
# Load CSV file into pandas DataFrame
def load_data(filepath: str, delimiter: str = ';') -> pd.DataFrame:
    try:
        # Read CSV file into DataFrame
        df = pd.read_csv(filepath, delimiter=delimiter)
        print(f"Dataset loaded correctly. Loaded {len(df)} rows from {filepath}.")
        return df
    except FileNotFoundError:
        # Raise an error if the file is not found
        raise FileNotFoundError(f"The file at {filepath} was not found.")
    except Exception as e:
        # Raise a generic error for any other exceptions
        raise Exception(f"An error occurred while loading the file: {e}")

df = load_data(input_file)
df.head()

Dataset loaded correctly. Loaded 446 rows from deliveries.csv.

,id,campaign_id,campaign_name,newsletter_id,newsletter_name,template_id,template_name,transactional_message_id,transactional_message_name,subject,...,unsubscribed_RFC3339,suppressed,suppressed_RFC3339,failed,failed_RFC3339,drafted,drafted_RFC3339,topic_unsubscribed,topic_unsubscribed_RFC3339,email
0,RPCtBwUAAYw2N2cGLMlm-0X9RlZ8ZQ==,NaN,NaN,NaN,NaN,242,Low data,4.0,Low data,Running out of data?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,reggidori@allin-partners.com
1,RPCtBwUAAYw2JZ5ZnHbPWa9Mgfeamw==,NaN,NaN,NaN,NaN,244,Video uploaded,6.0,Video uploaded,Video successfully uploaded!,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hamdi@videoblogg.com
2,dgTwrQcAAMfGCMbGCAGMNcXPsI8buTfq_C49eIw=,28.0,Signup onboarding v3,NaN,NaN,223,Share live stream features,NaN,NaN,Take your streams to the next level with Dacast,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,maheshmahi@gamil.con
3,dgTwrQcAALjJCLfJCAGMNcXPpfPDnufKi-jyyz0=,28.0,Signup onboarding v3,NaN,NaN,205,Share live stream features,NaN,NaN,Take your streams to the next level with Dacast,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,anshul@realimapct.tv
4,dgTwrQcAAJnJCJjJCAGMNcXPpe2eqZyz7iMBYxs=,28.0,Signup onboarding v3,NaN,NaN,222,Onboarding Stream,NaN,NaN,Start streaming with Dacast today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,johncookj11@netzero.com

Selects only the columns relevant to the email cleaning task: id, email, and failure_message.

**Parameters:**
*   df: The original DataFrame.

Returns: A filtered DataFrame with only the necessary columns.

In [11]:
# Filter DataFrame to include only relevant columns
def filter_relevant_columns(df: pd.DataFrame, columns: list) -> pd.DataFrame:
    # Check if the required columns are present in the DataFrame
    missing_cols = [col for col in columns if col not in df.columns]
    if missing_cols:
        # Raise an error if any required columns are missing
        raise ValueError(f" The following required columns are missing: {missing_cols}")
    return df[columns]

df_relevant = filter_relevant_columns(load_data(input_file), ['id', 'email', 'failure_message'])
df_relevant

Dataset loaded correctly. Loaded 446 rows from deliveries.csv.

,id,email,failure_message
0,RPCtBwUAAYw2N2cGLMlm-0X9RlZ8ZQ==,reggidori@allin-partners.com,"No MX for allin-partners.com, lookup allin-par..."
1,RPCtBwUAAYw2JZ5ZnHbPWa9Mgfeamw==,hamdi@videoblogg.com,5.1.1 The email account that you tried to reac...
2,dgTwrQcAAMfGCMbGCAGMNcXPsI8buTfq_C49eIw=,maheshmahi@gamil.con,"No MX for gamil.con, lookup gamil.con on 172.1..."
3,dgTwrQcAALjJCLfJCAGMNcXPpfPDnufKi-jyyz0=,anshul@realimapct.tv,"No MX for realimapct.tv, lookup realimapct.tv ..."
4,dgTwrQcAAJnJCJjJCAGMNcXPpe2eqZyz7iMBYxs=,johncookj11@netzero.com,temporary delay due to high volume
...,...,...,...
441,dgTwrQcDAIXIB4TIBwGL_A1AJRPDv9pbl0BoZdw=,CathieGriggs278@yahoo.com,"30 Sorry, your message to cathiegriggs278@yaho..."
442,dgTwrQcDALnJB7jJBwGL_A1AJRdJ7K0AkEBznD8=,avanish@brainmobi.com,4.4.5 The address <emailtosalesforce@12xzcb64e...
443,dgTwrQcDAMrKB8nKBwGL_A1AJUaIUD1gKWSn9I8=,maddy@magnifyingdigital.com,4.4.5 The address <emailtosalesforce@12xzcb64e...
444,dgTwrQcDAI3KB4zKBwGL_A1AJWn-uqvEn6KaPQo=,harryjackoutreachexpert@gmail.com,4.4.5 The address <emailtosalesforce@12xzcb64e...
445,dgTwrQcDANzIB9vIBwGL_A1AJW8to4TOw6UpcKs=,isha@kalkifashion.cm,4.4.5 The address <emailtosalesforce@12xzcb64e...

Filters the DataFrame to include only rows where the failure_message contains the phrase "does not exist".

**Parameters:**
*   df: Filtered DataFrame
*   keyword: The phrase to search within failure_message

**Returns**: A new DataFrame with only non-existent emails

In [12]:
# Extract rows with failure messages indicating non-existent emails
def extract_nonexistent_emails(df: pd.DataFrame) -> pd.DataFrame:
    # Look for failure messages indicating non-existent emails
    mask = df['failure_message'].str.contains('exist', case=False, na=False) # Case insensitive and ignore NaN
    nonexistent_df = df[mask].drop_duplicates(subset='email') # Drop duplicates based on email
    print(f"Found {nonexistent_df.shape[0]} non-existent emails.") # Print the number of non-existent emails
    return nonexistent_df

df_nonexistent = extract_nonexistent_emails(df_relevant)
df_nonexistent

Found 21 non-existent emails.

,id,email,failure_message
1,RPCtBwUAAYw2JZ5ZnHbPWa9Mgfeamw==,hamdi@videoblogg.com,5.1.1 The email account that you tried to reac...
13,RPCtBwUAAYwxTnvU1FiEs8YzG7GBlw==,wooodbenradel2018@gmail.com,5.1.1 The email account that you tried to reac...
32,RPCtBwUAAYwiovSXhbiGB3iDLnW2Yw==,keith456@stcharles.k12.la.us,5.1.1 The email account that you tried to reac...
45,RPCtBwUAAYwf5GArk3gAqw9y5jJKyA==,chloeherman33@gmail.com,5.1.1 The email account that you tried to reac...
52,RPCtBwUAAYwdt7VDzQrTg3F82QevDA==,vatistasantinis1@gmail.com,5.1.1 The email account that you tried to reac...
60,RPCtBwUAAYwYgbi4naArMLhaXkgXuA==,lnutm@mail.edu.com,Mailbox does not exist!
71,RPCtBwUAAYwRV0a4pJNJix0ZkrzCjg==,higsssygga6@gmail.com,5.1.1 The email account that you tried to reac...
90,RPCtBwUAAYwDcbrFwDfayYLEafsFrA==,ostovich@me.com,5.1.1 <ostovich888@me.com>: user does not exist
103,RPCtBwUAAYwBAUMuhGw0oozKhOfqxg==,deross@wabash.net,User [deross777@wabash.net] does not exist
104,RPCtBwUAAYwAz8YG5kir8458gVpYEw==,digital@pinpointpresents.com,5.1.1 The email account that you tried to reac...
106,RPCtBwUAAYwAxu7-Qru_4B6joLjvRQ==,jshawnott@gmail.com,5.1.1 The email account that you tried to reac...
117,RPCtBwUAAYv9aAY9mEAT6qbyTevEFw==,lillyallen7710@gmail.com,5.1.1 The email account that you tried to reac...
118,RPCtBwUAAYv9VEdXsQ3alTRMdxKg-A==,devin.j.garcia98@gmail.com,5.1.1 The email account that you tried to reac...
225,dgTwrQcDAPj0B_f0BwGL_A1DCjhlNGC9QqdNd8o=,cloud3@digibazar.store,5.1.1 <cloud3@digibazar.store>: Recipient addr...
259,dgTwrQcDAOX5B-T5BwGL_A1D04XpJ6p-Gy9q2hA=,RAYQUAWNDENTON@GMAIL.COM,5.1.1 The email account that you tried to reac...
260,dgTwrQcDAN_6B976BwGL_A1D06hehFiGjnphPNg=,tyronlesliew@gmail.com,5.1.1 The email account that you tried to reac...
272,dgTwrQcDAMuMCMqMCAGL_A1E8JXolKyjTgkcTcY=,no.reply.JiirqenSvensson@gmail.com,5.1.1 The email account that you tried to reac...
287,dgTwrQcDAIiCCIeCCAGL_A1ElWlQgKYL_SKTYOI=,ytuploade2.0@gmail.com,5.1.1 The email account that you tried to reac...
291,dgTwrQcDAI6CCI2CCAGL_A1ElZYr-BeyOUjkZkA=,ehffsgkhfgfu2rmail@gmail.com,5.1.1 The email account that you tried to reac...
390,dgTwrQcDAO7uB-3uBwGL_A1C4OLlj9pa56XKLII=,tanesha.exum@sendiks.com,5.1.1 The email account that you tried to reac...
401,dgTwrQcDAL3lB7zlBwGL_A1CNWr39SgkuvImLqw=,mariaot@ristolago.com,5.1.1 The email account that you tried to reac...

## 21 non-existent emails were found

Exports the given DataFrame to a CSV file using a comma as the delimiter.

**Parameters:**
*   df: DataFrame to be saved.
*   output_path: Desired path for the resulting CSV file.

In [13]:
# Save the DataFrame to a CSV file
def save_to_csv(df: pd.DataFrame, output_path: str, delimiter: str = ','):
    df.to_csv(output_path, index=False, sep=delimiter) # Save without index
    print(f" Non-existent emails saved to {output_path}") # Print confirmation message

save_to_csv(df_nonexistent, output_file)

 Non-existent emails saved to non_existent_emails.csv